/************************************

Front-End Development
Desgined By Misbauddin Chowdhury Shahan
fiverr.com/shahan953

***************************************/

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  margin: .67em 0;
  font-size: 2em;
}
mark {
  color: #000;
  background: #ff0;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -.5em;
}
sub {
  bottom: -.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  height: 0;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}


button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}
legend {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
  *,
  *:before,
  *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    : " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;

    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

a{cursor: pointer}

*{margin:0px;padding: 0px;}

body{
	font-family: "Roboto-Regular", Arial;font-size: 14px;
	line-height: normal;
	box-sizing: border-box;
}

.fix{overflow: hidden;}

.fl{float: left}
.fr{float: right;}

.innerContent{
	max-width: 1176px;
	margin:0px auto;
}

header{
	min-height: 82px;
	border-bottom:1px solid #ddd;
	overflow: hidden;
}

.main_menu{float: left;}
.main_menu ul{list-style: none;}
.main_menu ul li{float:left;}

.main_menu ul li a{
	display: inline-block;
	font-size: 17px;
	padding: 30px;
	color:#666;
	text-decoration: none;
}
.main_menu ul li a:hover, #current{
	color:#20ac50;
}

#dropdown{display: none;z-index: 9999999}


.rightPanel{width: 55%;}


.logo{float: left;}

.logo img{
	width: 120px;
	padding: 24px;
}


.auth{
	float: right;
	padding: 25px;
}

.auth a{
	display: inline-block;
	font-size: 17px;
	color:#666;
	text-decoration: none;
	border:1px solid #ccc;
	padding: 5px 10px;
	-webkit-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.auth a:hover{
	background-color: #333;color:#fff;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.refresh{
  position: fixed;
  right: 10px;
  top: 50%;
  background-color: #ddd;
  padding: 10px;
  display: inline-block;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #bbb;
  box-shadow: 1px 1px 1px 0px #999;
  z-index: 999999;
}
.refresh a{
  text-decoration: none;
  color: #666;
}
.content{margin-bottom:40px;}

.section{
    color:#444;
position: relative;}
.section h1{
	font-size: 35px;
	margin-bottom: 26px;
}

.content_title {}

.widget {
	width: 18.5%;
	float:left;
	box-sizing: inherit;
	margin-right:10px;
	margin-bottom: 20px;
	background-color: #eee;
  margin-left:5px;
}

.widget h4{
	padding: 10px;
  height: 50px;
}
.widget h4 a{
	color:#333;
	text-decoration: none;
}
.widget h4 a:hover{
	color:#666;
}

.widget img {
	width: 100%;
	box-sizing: border-box;
}

.widget_5{margin-right: 0px;}

.post{
	height: 250px !important;
	width:100%;
	overflow: hidden;
  position: relative;
  padding:10px;
  box-sizing: border-box;
}

/*Show up the overlay*/
.overlay{opacity: 0;}

.overlay{
  width: 100%;
	min-height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	color:#fff;
	position: absolute;
	top:0px;
	left:0px;
	box-shadow: border-box;
	padding: 10px;
	text-align: center;
	-webkit-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	font-size:18px;
  box-sizing: border-box;
}
.overlay #categoryName{
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 15px;
}
.widget:hover .overlay{
	opacity: 1;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}


/*Button*/
#widget_details{
	background-color: #698855;
	display: block;
	padding: 5px 10px;
	text-align: center;
	margin-top:25px;
	color:#fff;
	border:1px solid #299545;
	width: 100%;
	cursor: pointer;
	display:none;
}

/**********************
Model Design
*************************/

#model_preview{
  width: 100%;
  height: 100%;
  position: absolute;
  top:100px;
  position: fixed;
  overflow: scroll;
  z-index: 9;
}


#model{
  background-color: #ddd;
  margin-bottom: 25px;
  border-radius: 5px;
  position: relative;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  margin-top: 25px;
  margin-bottom:150px;
}




/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}





#modelInside{
  width: 748px;
  margin:0px auto;
  padding: 35px;
}

.model_image img{
  width: 748px;
}

.model_image{
  width: 748px;
  margin:0px auto;
  position: relative;
  margin-bottom: 20px;
}

#model_overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    display: block;
    padding: 80px;
    box-sizing: border-box;
    position: absolute;
    top:0px;
    left: 0px;
    opacity: 0;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

#model_overlay #urlRedirect{
    padding: 34px 40px;
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 0px none;
    color: #fff;
    display: inline-block;
}

#model_overlay #urlRedirect a{
    color: #fff;
    text-decoration: none
}

#model_overlay #urlRedirect:focus{
    border:0px none;
}

.model_image:hover #model_overlay{
  opacity: 1;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.close_btn {
  position: absolute;
  top: 20px;
  right: 30px;
}
.close_btn img{
  width: 35px;
}

#close{
  display: block;
}

.comment_box{
  background-color: #fff;
  margin-top:15px;
  padding: 10px;
  overflow: hidden;
}

.profile{
  float: left;
  margin-right: 15px;
  width: 66px;
}

.profile_info{
  float: left;
  display: table;
}
.profile_info h4{
  font-weight: 600;
  padding-top:5px;
  padding-right:5px;
  float: left;
}
.profile_info span{
  padding-top:5px;
  padding-left:10px;
  float: left;
}
.profile_info .title_section{
  width: 100%;
  overflow: hidden;
  margin-bottom: 8px;
}

.profile_info .comment{

}

.action{
  margin-top:15px;
  overflow: hidden;
}

.action a{
    text-decoration: none;
    padding: 10px;
    padding-left: 0px;
    float: left;
}

.action strong{
  color:#999;
}

.action img{
  padding: 3px;
  float: left;
}


.developer{
  background: #fff;
  padding: 5px;
  text-align: right;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  font-size: 10px
}
.developer a{
  text-decoration: none;
  color:#f56033
}
.sub-header{
    height: auto;
    min-height: 35px;
}
.sub-header-inner{
    max-width: 1176px;
    margin-right: auto;
    margin-left: auto;
}
.sub-category{
    display: inline-flex;
    float: right;
    padding-right: 15px;
}

.sub-category li{
    padding: 10px;
    list-style: none;
}