body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    height: 100%;
}

.left-wrapper{
    width:60%;
    float: left;
    height: 100%;
    min-height: 100%;
    text-align: center;
}

.right-wrapper{
    width: 39%;
    height: 100%;
    min-height: 100%;
    float: left;
    text-align: center;
    border-left: 1px #000 solid;
    position: absolute;
    right: 0;

}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.chrome-logo{
    width: 200px;
}
/* Shared */
.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
    width: 230px;
    cursor: pointer;
}
.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}
.loginBtn:focus {
    outline: none;
}
.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
}
.loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #E74B37;
}

#alert_message{
    position: fixed;
    width: 40%;
    left: 30%;
    float: right;
    padding: 20px;
    border: 2px #d6e9c6 solid;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #dff0d8;
    z-index: 999;
    color: #3c763d;
    display: none;
}