header{
	background-color: #fff;
}

.db_header a{
	text-decoration: none;
	color:#999;
}
.db_header a:hover{
	text-decoration: none;
	color:#666;
}

.signInForm{
	width: 300px;
	margin:50px auto;
	background-color: #efefef;
	border-radius: 10px;
	padding: 20px;
	overflow: hidden;
    border: 1px solid #cddfcc;
    box-shadow: 2px 3px 7px 1px #ddd;
}
.signInForm h2{
    margin-bottom: 20px;
    color: #666;
}

.signInForm .closeBtn{
	padding: 5px 10px;
    color: #fff;
    background: #999;
    border: 0px none;
}

.signInForm input[type=text], .signInForm input[type=password]{
	width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 5px 0px;
    box-shadow: inset 0px 5px 14px 1px #c0c0c0;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #eee;
}

.signInForm input[type=checkbox]{
    width: 20px;
    height: 20px;
}
.signInForm .remember{
	margin-top:25px;
}
.signInForm .forget{
	margin-top:30px;
	width: 100%;
	text-align: right;
}

.signInForm .forget a{
	color:#363;
}
.signInForm label{
	padding: 2px 10px;
    display: inline-block;
    color: #999;
    font-weight: 600;
}

.signInForm input[type=submit]{
		width: 40%;
    float: right;
    background-color: #589868;
    font-weight: 900;
    font-size: 18px;
    color: #fff;
    padding: 5px;
    margin-top:15px;
    border:0px #094144;
    border-radius: 3px;
}

.message{
    color: #ff5e00;
    background-color: #ddd;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    display: block;
    box-sizing: border-box;
    margin: 10px 0px;
    border-radius: 5px;
    font-size: 15px;
		font-weight: 400;
}
.message .fa{
	padding-right: 10px;
}
.sucessMsg{
	color: #090;
	font-weight: 700
}

/*------------------------
	Dashboard
--------------------------*/

body{
	background-color: #fff;
}

.db_header{
    padding: 22px;
    font-size: 20px;
    color: #666;
    display: inline-block;
}

section {
	margin-top:25px;
}

.left_menu_db{
	width: 15%;
	float: left;
}
.left_menu_db nav{
	border-radius: 2px;
	border:1px solid #ddd;
	box-shadow: 0px 0px 10px 2px #ddd;
	background-color: #efefef;
	margin-bottom: 15px;
	padding: 10px 0px;
}
.left_menu_db nav ul{
	list-style: none;
}

.left_menu_db nav ul li{
	border-bottom: 1px solid #ddd;
}

.left_menu_db nav ul li a{
	padding: 15px;
	display: block;
	text-decoration: none;
	border-bottom: 1px solid #ccc;
	color:#666;
	font-size: 14px;
	font-weight: normal;
}
.left_menu_db nav ul li a i{
	padding: 0px 10px;
}

.left_menu_db nav ul li a:hover{
	color:#090;
}


.left_menu_db nav ul li:last-child, .left_menu_db nav ul li a:last-child{
	border-bottom: 0px none;
}

.content_area{
	overflow: hidden;
	display: block;
	float: right;
	width: 83%;
	background: #efefef;
	box-shadow: 0px 0px 10px 2px #ccc;
	border: 1px solid #ddd;
	border-radius: 1px;
	margin:2px;
	margin-bottom:60px;
}


.content_area form{
	width: 430px;
	margin:100px auto;
	overflow: hidden;
	padding: 10px
}
.content_area form input{
	padding: 10px 15px;
	width: 100%;
	border:1px solid #ccc;
	border-radius: 2px;
	color:#777;
	margin:2px;
	box-sizing: border-box;
}
.content_area form input[type=submit]{
	width:auto;
	color:#333;
	font-weight: bold;
}

.category{
	background: #f7f7f7;
  color: #8c8c8c;
  padding: 9px;
  margin: 2px;
  font-size: 15px;
  width: 100%;
  float: left;
  border: 1px solid #ddd;
}

table{
	border:1px solid #ddd;
	width: 100%;
}

th, td {
    border: none;
    text-align: left;
    padding: 8px;
}

table .thead{
	font-weight: bold;
}
table td{
	padding:10px;
}

table #domain, table #subdomain{
	width: 450px;
	word-wrap: break-word;
	display: inline-block;
}

tr:nth-child(even){background-color: #f2f2f2}

#addurl, #viewall {
    -webkit-animation: move 1s ; /* Chrome, Safari, Opera */
    animation: move 1s ;
}

#nextBtn{
	padding: 10px 20px;
  background: #ddd;
  margin: 5px;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: #333;
  border-radius: 5px;
}
#action .fa{padding:3px;font-size:18px;}
#action .fa-remove{color:#f01}
#action .fa-edit{color:#393}

#confirmBox{
	display: none;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:rgba(0, 1, 3, 0.6);
	opacity: 0;
	transition: 0.6s ease 0s;
	-webkit-animation: move 0.5s ; /* Chrome, Safari, Opera */
	animation: move 0.5s ;
}
#confirmBoxInside{
	background: #fff;
  width: 350px;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 3px;
  text-align: center
}
#confirmBoxInside button{
	background: #333;
	color:#fff;
	padding: 10px 30px;
	border:1px solid #111;
	border-radius: 3px;
	margin:20px;
	cursor: pointer;
}

#confirmBoxInside #yesBtn:hover{
	color:#f01;
}

#confirmBoxInside #noBtn:hover{
	color:#393;
}


.passwordMatchMessage{margin-bottom:10px;padding:5px;display:inline-block;float:right;}

/* Chrome, Safari, Opera */
@-webkit-keyframes move {
    from {margin-top:-100px;opacity: 0}
    to {margin-top:0px;opacity: 1}
}

@keyframes move {
    from {opacity: 0}
    to {opacity: 1}
}
