/************************************

Responsive Web Page
Desgined By Misbauddin Chowdhury Shahan
fiverr.com/shahan953

***************************************/

/* Smaller than standard 1169 (devices and browsers) */
@media only screen and (max-width:1169px){
	.innerContent  {
	    width: 97%;
	}
	.widget{
		width: 18.5%;
	}
}

/* Smaller than standard 1139 (devices and browsers) */
@media only screen and (max-width:1100px){
	.widget{
		width: 18%;
	}
	.innerContent  {
	    margin-left:2.5%;
	}
	.overlay{min-height: 65%;overflow: hidden;}
}

/* Smaller than standard 1024 (devices and browsers) */
@media only screen and (max-width:1024px){
	.widget{width: 18%;}
	.widget_5{margin-right: auto;}


	.overlay{
		overflow: hidden;
		font-size: 16px
	}


	#modelInside{
	  width: 500px;
	}

	.model_image img{
	  width: 500px;
	}

	.model_image{
	  width: 500px;
	}
}

/* Smaller than standard 1024 (devices and browsers) */
@media only screen and (max-width:1023px){
}
/* Similar than small screen desktop*/
@media only screen and (max-width: 991px) {
	.overlay{height: 65%;}

	.widget{
		width: 22%;
		margin-right:2%;
		margin-left:1%;
	}

	.main_menu ul li a{
		padding:15px;
		font-size: 15px;
	}

	.logo img{
		width:100px;
		padding: 10px;
	}

	.auth{
		padding: 6px;
	}
	header{
		min-height: 40px;
	}
	.rightPanel{width: 55%;}
}

/* All Tablet Size (devices and browser) */
 @media only screen and (max-width:767px){
.refresh{
	margin-top: 10px;
	float: right;
	margin-right: 10px;
	position: fixed;
}
 	.widget{
 		width: 31%;
 		margin-right:1%;
 	}
 	.main_menu{
 		width: 98%;
 		max-height: 0px;
		-webkit-transition: all 0.3s ease 0s;
		-ms-transition: all 0.3s ease 0s;
		-moz-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;

	}
 	.main_menu ul li{
 		float:none;
	}
 	.main_menu ul li a{
 		display: block;
 		border-bottom:1px solid #ddd;
	}
	.logo img{
		width:100px;
		padding: 20px;
	}

	.rightPanel{width: 62%;}

	.auth a{
		font-size: 22px;
		padding: 10px;
	}

	.section h1{
		font-size: 25px;
	}

	#modelInside{
	  width: 400px;
	}

	.model_image img{
	  width: 400px;
	}

	.model_image{
	  width: 400px;
	}
	#close_btn{top:5px;right:10px;}

	#model_overlay{
		opacity: 1;
		position: inherit;
    	padding: 10px;
	}
	#model_overlay button{
		margin-top: 0px;
	    padding: 10px 75px;
	    font-size: 30px;
	    text-decoration: underline;
	}
	#model_preview{
	  top:150px;
	}

	#dropdown{
		display: block;
		margin:10px;
	}
	#dropdown img{
		width: 50px;
	}

	.show{
		max-height: 1000px;
		box-shadow: 0px 2px 10px 2px #ddd;
		margin-bottom: 25px;
		-webkit-transition: all 0.3s ease 0s;
		-ms-transition: all 0.3s ease 0s;
		-moz-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}

	.overlay{
		min-height: 30px;
	    height: auto;
	    top: auto;
	    bottom: 0px;
	    font-size: 12px;
	    text-align: left;
	    box-sizing: border-box;
	}
	.overlay{display: none;opacity: 0}
	.show_image{display: block;opacity: 1;}

}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width:479px){
	header{margin-top:10px;}
	.main_menu{width: 98%}

 	.widget{
 		width: 48%;
 	}
 	.logo {margin-left:5px;}
	.logo img {
	    width: 100px;
	    padding: 10px;
    }
 	.auth{margin-right: 5px;}
 	.auth a{padding: 5px;font-size: 18px;}

 	.main_menu {
 		margin-bottom:10px;
 	}
 	.main_menu ul li a{
		padding: 8px;
	    font-size: 16px;
	}

	#dropdown{
		margin:3px;
	}

	#dropdown img{
		width: 40px;
	}

	.section h1{
		font-size: 20px;
	}
	#modelInside{
	  width: 325px;
	  padding: 10px;
	}

	.model_image img{
	  width: 325px;
	}

	.model_image{
	  width: 325px;
	}
	#model_overlay button{
		margin-top: 0px;
	    padding: 10px 10px;
	    font-size: 20px;
	}
	#model_preview{
	  top:150px;
	}

	.rightPanel{width: 75%;}

	.widget h4{
		font-size:12px;
		height: 70px;
	}

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width:319px){
	header{margin-top:10px;}
	.main_menu{width: 98%}

 	.widget{
 		width: 98%;
 		margin-right: 5px;
 	}
 	.logo {margin-left:5px;}
 	.logo img{width: 80px;padding: 5px;margin-top:5px;}
 	.auth{margin-right: 5px;}

 	.main_menu {
 		margin-bottom:10px;
 	}
 	.main_menu ul li a{
		padding: 8px;
	    font-size: 16px;
	}
	.section h1{
		font-size: 20px;
	}
	#modelInside{
	  width: 325px;
	  padding: 10px;
	}

	.model_image img{
	  width: 325px;
	}

	.model_image{
	  width: 325px;
	}
	#model_overlay button{
		margin-top: 0px;
	    padding: 10px 10px;
	    font-size: 20px;
	}
	#model_preview{
	  top:150px;
	}

	.rightPanel{width: 75%;}

	.auth a{
		font-size: 14px;
		padding: 5px;
	}
	#dropdown{
		margin:0px;
	}
	#dropdown img{
		width: 35px;
		padding: 5px;
	}
}
