<%include partials/head.html%>
	<!-- Sart Header Area-->

<%include partials/dashboard_head.html%>
	<!--End Header Area-->
<script>
	var errorMsg = '';
    document.addEventListener("DOMContentLoaded", function(event) {
        errorMsg = <%- JSON.stringify(errorMsg) %>
       document.getElementById('passwordMatchMessage').innerText = errorMsg;
    })

</script>
	<!-- Sart Content-->
	<section class="content">
		<div class="innerContent">
			<!--Menu Area-->
			<%include partials/sidebar.html%>
			<!--End of Menu Area-->

			<!--Content Area-->
			<div class="content_area" id="viewall">
				<div class="account fix">
						<form action="./account" method="POST">
							<h2>Change Account Password</h2><br><br>
							<label for="changePassword">Your Current Password</label>
							<input type="password" name="current">
							<label for="changePassword">Enter New Password</label>
							<input type="password" name="pass" id="txtNewPassword">
							<label for="changePassword">Enter Confirm Password</label>
							<input type="password" name="cPass" id="txtConfirmPassword"onChange="checkPasswordMatch()"><br/><br/>
							<div class="registrationFormAlert" id="checkPasswordMatch"><span id = "passwordMatchMessage" class="passwordMatchMessage"></span></div>
							<input type="submit" name="submit" id="submitBtn" value="Change Password">
						</form>
				</div>
			</div>
			<!--End of Content Area-->

<script type="text/javascript">
function checkPasswordMatch() {
	var password = $("#txtNewPassword").val();
	var confirmPassword = $("#txtConfirmPassword").val();
	if(password.length<6 || confirmPassword.length<6){
				$("#checkPasswordMatch").html('<span class="passwordMatchMessage" style="color:#f03">Password should more than 6 character!</span>');
				$("#txtNewPassword").css("border", "1px solid red");
				 $("#txtConfirmPassword").css("border", "1px solid red");
				 $("#submitBtn").prop("disabled", true);
	}else{
		if (password != confirmPassword){
				$("#checkPasswordMatch").html('<span class="passwordMatchMessage" style="color:#f03">Passwords do not match!</span>');
				$("#txtNewPassword").css("border", "1px solid red");
				 $("#txtConfirmPassword").css("border", "1px solid red");
				 $("#submitBtn").prop("disabled", true);
		}else{
				$("#checkPasswordMatch").html('<span class="passwordMatchMessage" style="color:#093">Passwords match.');
				$("#txtNewPassword").css("border", "1px solid green");
				 $("#txtConfirmPassword").css("border", "1px solid green");
				 $("#submitBtn").prop("disabled", false);
		}
	}
}

$(document).ready(function () {
 $("#checkPasswordMatch").keyup(checkPasswordMatch);
});
</script>


		</div>
	</section>
	<!--End Content Area-->
<% include partials/footer.html%>
