<%include partials/head.html%>

<%include partials/dashboard_head.html%>


<section class="content">
    <div class="innerContent">
        <!--Menu Area-->
        <%include partials/sidebar.html%>

        <!--End of Menu Area-->

        <!--Content Area-->
        <div class="content_area" id="addurl">
            <div class="addurl fix">
                <form action="./admin/dashboard" method="POST" >
                    <input class="fl" type="text" name="url" required>
                    <select required class="category" name="category">
                        <option value="">Select Option</option>
                        <option value=1>Politics</option>
                        <option value=2>Business</option>
                        <option value=3>Technology</option>
                        <option value=4>Entertainment</option>
                        <option value=5>Sport</option>
                    </select>
                    <input type="submit" name="submit" value="Add URL">
                </form>
            </div>
        </div>
    </div>
</section>


<%include partials/footer.html%>
