<%include partials/head.html%>
<!-- Sart Header Area-->
<header class="header">

</header>
<section class="signin" id="signIn">
    <div class="innerContent">
        <form class="signInForm" action="./login" method="POST">
            <h2 class="fl">Sign In</h2>
            <a class="fr closeBtn" id="signInClose">X</a>
            <input type="text" name="email" placeholder="Your Email Here">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" name="submit" value="Sign in">
            <div class="fl remember">
                <input id="checkbox" class="fl" type="checkbox" name="remember">
                <label for="checkbox" id="remember">Remember Me</label>
            </div>
            <div class="fr forget">
                <a id="fpass">Forget Password</a>
            </div>
        </form>
    </div>
</section>

<% include partials/footer.html%>