<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            var users = <%- JSON.stringify(users) %>;
           // alert(JSON.stringify(users));
            var table = document.getElementById('table_users')

            for(var i = 0; i < users.length; i++){
                var tr = document.createElement('tr');
                var innerHtml = '<td><img src="'+users[i].photo+'"></td>'
                    +'<td>'+users[i].name+'</td>'
                    +'<td>'+users[i].profileId+'</td>'
                    +'<td>'+new Date(users[i].lastLogin)+'</td>'

                tr.innerHTML = innerHtml;
                table.appendChild(tr)
            }
        })
    </script>
</head>
<body>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Froggo Users</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Photo</th>
            <th>User Name</th>
            <th>Id</th>
            <th>Registered at</th>
        </tr>
        </thead>
        <tbody id="table_users">

        </tbody>
    </table>
</div>

</body>
</html>


</body>
</html>