<%include partials/head.html%>
<%include partials/dashboard_head.html%>

<script>
	var domains = [];
	function displayNewsList(){
	    var view_table = document.getElementById('view_table')
	    for(var i = 0; i < domains.length; i++){
	        var trNode = document.createElement('tr');
            var innerHtml = ''
            +'<td>'+domains[i].id+'</td>'
                +'<td id="domain">'+domains[i].domain+'</td>'
                +'<td id="category">'+domains[i].category+'</td>'
                +'<td id="action">'
                +'<a onclick="deleteItem(\'./view/delete/'+domains[i].id+'/'+domains[i].imageId+'\')"><i class="fa fa-remove"></i></a>'
                +'</td>'
			trNode.innerHTML = innerHtml;
            view_table.appendChild(trNode);
        }
    }

    document.addEventListener("DOMContentLoaded", function(event) {
        domains = <%- JSON.stringify(domains) %>
        displayNewsList();
    })
</script>

	<!-- Sart Content-->
	<section class="content">
		<div class="innerContent">
			<!--Menu Area-->

			<%include partials/sidebar.html%>

			<!--End of Menu Area-->

			<!--Content Area-->
			<div class="content_area" id="viewall">
				<div class="view fix">
					<table border="1px" id="view_table">
						<tr class="thead">
							<td>Id</td>
							<td id="domain">Domain</td>
							<td>Category</td>
							<td>Action</td>
						</tr>
					</table>
				</div>
			</div>
			<!--End of Content Area-->

		</div>
	</section>
	<!--End Content Area-->

	<div id="confirmBox">
		<div id="confirmBoxInside">
			<h3>Are you sure do delete this item?</h3>
			<button id="yesBtn">Yes</button>
			<button id="noBtn">No</button>
		</div>
	</div>


	<script type="text/javascript">
        function deleteItem(id){
            var cBox = document.getElementById('confirmBox')
            cBox.style.opacity = "1";
            cBox.style.display = "block";

            var yesBtn = document.getElementById('yesBtn');
            var noBtn = document.getElementById('noBtn');

            yesBtn.onclick = function(){
                window.location.href = id;
            };

            noBtn.onclick = function(){
                cBox.style.display = "none";
            };

            window.onclick = function(event){
                if(event.target == cBox){
                    cBox.style.display = "none";
                }
            }
        }
	</script>

	<%include partials/footer.html%>