	<header class="header">
		<div class="innerContent">
			<div class="fl">
				<div class="db_header">
					<h2><%- dasgboardTitle %></h2>
				</div>
			</div>
			<div class="fr">
				<div class="logo">
					<a href="../../../api/froggo/admin"><img src="../../../sta/assets/img/logo.png" alt="Froggo"></a>
				</div>
			</div>
		</div>
	</header>