
<div class="innerContent">
	<div class="fr rightPanel">
		<div class="logo">
			<a href="<%- serverHostName %>/admin/froggo"><img src="../../../sta/assets/img/logo.png" alt="Froggo"></a>
		</div>

		<div class="auth">
			<a href="<%- serverHostName %>/admin/froggo/login">sign btn</a>
		</div>
	</div>
	<div class="leftPanel">
		<span class="dropdown fl" id="dropdown">
			<img src="<%- serverHostName %>/admin/froggo/assets/img/dropdown.png" alt="Menu">
		</span>
		<%include menu.html%>
	</div>
</div>
