<!DOCTYPE html>
<html>
<head>
	<title>Froggo</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="Dingopunch">
	<link rel="stylesheet" type="text/css" href="<%- serverHostName %>/sta//assets//style.css">
	<link rel="stylesheet" type="text/css" href="<%- serverHostName %>/sta/assets/css/font.css">
	<link rel="stylesheet" type="text/css" href="<%- serverHostName %>/sta/assets/css/media.css">
	<script src="<%- serverHostName %>/sta/assets/js/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="<%- serverHostName %>/sta/assets/css/admin.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="main_area fix">
