
<div class="menu_area">
  <div class="fl left_menu_db">
    <nav>
      <ul>
        <li><a id="add" href="<%- serverHostName %>/api/froggo/admin"><i class="fa fa-plus"></i>Add URL</a></li>
        <li><a id="view" href="<%- serverHostName %>/api/froggo/admin/view"><i class="fa fa-eye"></i>View All</a></li>
        <li><a id="account" href="<%- serverHostName %>/api/froggo/admin/users"><i class="fa fa-users"></i>Users</a></li>
        <li><a id="account" href="<%- serverHostName %>/api/froggo/admin/account"><i class="fa fa-user"></i>Account</a></li>
        <li><a href="<%- serverHostName %>/api/froggo/admin/logout" id="logout"><i class="fa fa-power-off"></i>Logout</a></li>
      </ul>
    </nav>
  </div>
</div>
