<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        var sertverHostName = location.protocol + '//' + location.host;
        document.addEventListener("DOMContentLoaded", function(event) {
            var users = <%- JSON.stringify(users) %>;
            var table = document.getElementById('table_users')


            for(var i = 0; i < users.length; i++){
                var tr = document.createElement('tr');
                var innerHtml = '<td><img src="'+users[i].photo+'"></td>'
                    +'<td>'+users[i].name+'</td>'
                    +'<td>'+users[i].profileId+'</td>'
                    +'<td>'+new Date(users[i].lastLogin)+'</td>'

                tr.innerHTML = innerHtml;
                table.appendChild(tr)
            }
        })

        function openHttpRequest(method, url, postData, headers, callback) {
            var httpRequest = new XMLHttpRequest();
            httpRequest.open(method, url, true);

            if (headers) {
                for (var i = 0; i < headers.length; i++ ) {
                    httpRequest.setRequestHeader(
                        Object.keys(headers[i])[0],
                        headers[i][Object.keys(headers[i])[0]]
                    );
                }
            }

            httpRequest.onreadystatechange = function() {
                if (httpRequest.readyState == 4) {
                    if (httpRequest.status == 200 || httpRequest.status == 201 || httpRequest.status == 304) {
                        callback(null, httpRequest.responseText);
                    } else {
                        callback(httpRequest.status, null);
                    }
                }
            };

            if(postData) {
                httpRequest.setRequestHeader("Content-type", "application/json");
                httpRequest.send(postData);
            } else {
                httpRequest.send();
            }
        }

        function logout(){
            openHttpRequest('GET', sertverHostName + '/api/froggo/admin/login/logout',null,null,function(error, data){
            location.reload();
            })
        }

    </script>
</head>
<body>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <button type="button" class="btn btn-warning" style="float: right; margin-top:10px;" onclick="logout()">Logout</button>
    <h2>Froggo Users</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Photo</th>
            <th>User Name</th>
            <th>Id</th>
            <th>Registered at</th>
        </tr>
        </thead>
        <tbody id="table_users">

        </tbody>
    </table>
</div>

</body>
</html>


</body>
</html>